/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 300px!important

h1
  color: #2f3f4a

h2 h3
  color: #153b56

h4
  color: #1662dd


// div.theme-default-content:not(.custom) {
//     max-width: 100%;
// }

.theme-container.api-page-class {
  width: 100%
}